html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    font-family: "Montserrat";
    font-weight: 700;
    padding-top: 70px;
    
}

/* Colours */

.main-colour {
    background-color: #000000;
}

 /* Main Structure */

 #main {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
    background-color: rgb(0, 0, 0);
    text-align: center;
}

#footer {
    color:white;
    text-align:center;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;

}

/* Header Elements */

/* Main Elements */
    
    /* Home Page */

#introduction {
    padding-top: 4rem;
    background-color: #1b1b1b;
    font-family: "Montserrat";
    font-weight: 700;
    color:#433e52;
    color: white;
    height: 100vh;
    background-image: url('../images/CameronReading.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.text-box-intro {
    padding-right: 1rem;
    background-color: #000000 ;
    opacity: 0.7;
}

.intro-text {
    text-align: left;
}
    /* About Me Page */

    /* Projects */

    /* Contact */

/* Footer */

/* Misc */

/* Media Qs */

@media (max-width: 1034px) {
    body {
        padding-top: 70px;
    }
}

@media (max-width: 440px) {
    body {
        padding-top: 55px;
    }
}


@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

    html,
    body{
      width:100%;
      overflow-x:hidden;
    }
  
  }